<div class="planets__container">
    <p>Name: <strong>"Corellia"</strong></p>
    <p>Rotation period: <strong>"25"</strong> </p>
    <p>Orbital Period: <strong>"329"</strong> </p>
    <p>Diametr: <strong>"11000"</strong> </p>
    <p>Climate: <strong>"Temperate"</strong> </p>
    <p>Gravity: <strong>"1 standart"</strong> </p>
    <p>Terrain: <strong>"plains, urban, hills, forests"</strong> </p>
    <p>Surface Water: <strong>"70"</strong> </p>
    <p>Population: <strong>"3000000000"</strong> </p>
</div>
