<div class="planets__container">
    <p>Name: <strong>{{planet.name}}</strong></p>
    <p>Rotation period: <strong>{{planet.rotation_period}}</strong> </p>
    <p>Orbital Period: <strong>{{planet.orbital_period}}</strong> </p>
    <p>Diameter: <strong>{{planet.diameter}}</strong> </p>
    <p>Climate: <strong>{{planet.climate}}</strong> </p>
    <p>Gravity: <strong>{{planet.gravity}}</strong> </p>
    <p>Terrain: <strong>{{planet.terrain}}</strong> </p>
    <p>Surface Water: <strong>{{planet.surface_water}}</strong> </p>
    <p>Population: <strong>{{planet.population}}</strong> </p>
</div>
