.planets
  &__container
    margin: 20px 5px
    padding: 10px
    border: 1px solid #cccccc
    border-radius: 6px
    color: #090000
    text-shadow: 4px 4px 2px #be7c1b
    background-color: #ffc1078f
    box-shadow: 0 0 13px 7px black
    min-width: 300px
    >p
      border-radius: 5px
      padding: 2px 5px
      background-color: #f9f4f4a6
      box-shadow: 1px 1px 3px 1px black
li
  max-width: 80px
  background-color: #ff040066
  list-style-type: none
  text-align: center
  padding: 3px
  border-radius: 4px
  box-shadow: 0 0 4px 2px #132204de
  >a
    text-decoration: none
    color: #196f1d
