<div class="wrap">
  <ul>
    <li>
      <a [routerLink]="['/']" >Main page</a>
    </li>
  </ul>
  <div class="details_box" *ngIf="!loading; else loadingBlock">
    <p>Name: <strong>{{detailPlanet.name}}</strong></p>
    <p>Rotation period: <strong>{{detailPlanet.rotation_period}}</strong> </p>
    <p>Orbital Period: <strong>{{detailPlanet.orbital_period}}</strong> </p>
    <p>Diameter: <strong>{{detailPlanet.diameter}}</strong> </p>
    <p>Climate: <strong>{{detailPlanet.climate}}</strong> </p>
    <p>Gravity: <strong>{{detailPlanet.gravity}}</strong> </p>
    <p>Terrain: <strong>{{detailPlanet.terrain}}</strong> </p>
    <p>Surface Water: <strong>{{detailPlanet.surface_water}}</strong> </p>
    <p>Population: <strong>{{detailPlanet.population}}</strong> </p>
  </div>
  <ng-template #loadingBlock>
    <p class="loading">Loading... </p>
  </ng-template>
</div>
