<div class="wrap">
  <ul>
    <li>
      <a [routerLink]="['/']" >Main page</a>
    </li>
  </ul>
  <div class="details_box">
    <p>Name: <strong>Some name</strong></p>
    <p>Rotation period: <strong>22</strong> </p>
    <p>Orbital Period: <strong></strong> </p>
    <p>Diameter: <strong></strong> </p>
    <p>Climate: <strong></strong> </p>
    <p>Gravity: <strong></strong> </p>
    <p>Terrain: <strong></strong> </p>
    <p>Surface Water: <strong></strong> </p>
    <p>Population: <strong></strong> </p>
  </div>
</div>
